:root {
	--heading-font: "Playfair Display", serif;
	--default-font: "Poppins", sans-serif;
	--hero-background-color: #f9f7fe;
	--branding-color: #6c63ff;
	--secondary-font-color: #272142;
}

h1 {
	font-family: var(--heading-font);
	font-size: 96px;
}
h2 {
	font-family: var(--heading-font);
	font-size: 64px;
}
p {
	font-family: var(--default-font);
	font-size: 16px;
	line-height: 30px;
}
.hero {
	text-align: center;
	background-color: var(--hero-background-color);
	font-family: var(--default-font);
	padding: 170px 0 270px;
}

.hero p {
	font-weight: normal;
	margin: 0;
	color: var(--secondary-font-color);
	font-size: 36px;
	line-height: 1;
}
.hero h2 {
	font-size: 24px;
	color: var(--secondary-font-color);
	font-family: var(--default-font);
}

.btn-branding {
	background-color: var(--branding-color);
	color: white;
	font-family: var(--default-font);
	padding: 18px 30px;
	border-radius: 5px;
	margin-top: 50px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-branding-outline {
	background-color: white;
	color: var(--branding-color);
	border: 1px solid var(--branding-color);
	font-family: var(--default-font);
	padding: 18px 30px;
	border-radius: 5px;
}

.project-description {
	margin: 150px 70px;
}
.about-section {
	padding: 170px 0 270px;
}
.about-description {
	margin: 30px;
}
.about-section h1 {
	font-size: 64px;
}
.about-section h2 {
	font-size: 18px;
	font-weight: bold;
	font-family: var(--default-font);
}
.profile-picture {
	border-radius: 40px;
}
.work-section {
	text-align: center;
}

.work-section h1 {
	font-size: 64px;
	padding-top: 170px;
}
.work-section h2 {
	font-size: 24px;
	font-family: var(--default-font);
	font-weight: bold;
	margin-top: 25px;
}
.work-section img {
	border-radius: 25px;
}
.work-section p {
	font-size: 14px;
	padding-bottom: 30px;
	line-height: 1;
}

@media (max-width: 900px) {
	h1 {
		font-size: 70px;
		margin: 0 15px;
		line-height: 1.5;
		font-weight: bold;
	}
	h2 {
		text-align: center;
		line-height: 1;
		font-size: 50px;
	}
	p {
		text-align: center;
		margin-bottom: 5px;
	}
	.hero {
		padding: 60px 0 80px;
	}
	.hero p {
		font-size: 55px;
		line-height: 60px;
	}

	.hero h2 {
		font-size: 30px;
		text-align: center;
		margin: 0 50px;
		line-height: 45px;
	}
	.project-description {
		margin: 0 15px 75px;
	}
	.btn-project {
		display: block;
		margin: 0 70px;
	}
	.about-section {
		text-align: center;
		padding: 0;
	}
	.profile-picture {
		padding: 20px;
		border-radius: 40px;
	}
	.work-section h1 {
		font-size: 45px;
		line-height: 60px;
	}
}
